.game-panel-container {
    /*background-color: #378a7e;*/
    display: flex;
}

.row {
    display: flex;
}

.left-game-container {
    width: 150px;
}

.right-game-container {
    display: flex;
    justify-content: center;
    width: 550px;
    position: relative;
}

.game-top-container {
    display: flex;
}

.game-info-panel {
    margin-left: 40px;
}

.small-circles {
    display: flex;
    justify-content: center; /* Wyśrodkowanie wzdłuż osi poziomej (X) */
    align-items: center; /* Wyśrodkowanie wzdłuż osi pionowej (Y) */
    height: 100%; /* Dodaj wysokość na przykład 100% */
}

.small-circle {
    margin: 2px;
    width: 20px;
    height: 20px;
    background: #fdfdfd;
    border-radius: 50%;
}

.new-game-btn {
    height: 28px;
}

.submit-btn-invisible {
    display: none;
}

.submit-btn {
    margin-left: 20px;
}

.position-btn {
    position: absolute;
    top:75px;
    left: 170px;
    padding: 4px 17px;
    background: #319b55;
    color: white;
}

@media (min-width: 600px) {
    .position-btn {
        top: 95px;
    }
}

@media (max-width: 560px) {
    .position-btn {
        left: 70px;
    }
}

@media (max-width: 420px) {
    .position-btn {
        left: 10px;
        top: 124px;
    }
}

/*panel gracza */

.panel-info {
    display: flex;
    margin-left: 40px;
    color: white;
    font-size: 20px;
}

@media (max-width: 400px) {
    .panel-info {
        margin-left: 5px;
        font-size: 16px;
    }
}



.round-number {
    margin-left: 5px;
}

.game-info {
    margin-left: 30px;
    font-size: 20px;
    /*min-height: 63px;*/
}

/*colors about bigcircle */

.select-div {
    font-size: 13px;
    color: white;
    margin: 2px;
    width: 60px;
    height: 60px;
    appearance: none;
    text-align: center;
    border: 1px none #000000;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
}
@media (min-width: 600px) {
    .select-div {
        margin: 3px;
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 460px) {
    .select-div {
        margin: 1px;
        width: 55px;
        height: 55px;
    }
}

/*@media (max-width: 445px) {*/
/*    .select-div {*/
/*        width: 40px;*/
/*        height: 40px;*/
/*        font-size: 5px;*/
/*    }*/
/*}*/

option:hover {
    background-color: #4eb01d;
}

.select-div:hover {
    border: 1px solid #ffffff;
}


.green {
    background-color: mediumseagreen;
}

.brown {
    background-color: #693c3c;
}

.red {
    background-color: #bb1515;
}

.blue {
    background-color: #2786ea;
}

.orange {
    background-color: darkorange;
}

.purple {
    background-color: mediumpurple;
}

.dgreen {
    background-color: #1f460c;
}

.yellow {
    background-color: #c2c234;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#226cbf, #113057);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}

.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
    color: red;
}

.button-84:active {
    outline: 0;
}

.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}



