.logout-button {
    background-color: #378a7e;
    text-align: center;
}

.rules-btn-menu {
    color: #4eb01d;
    background: #4eb01d;
}

.nav {
    position: relative;
}

.username {
    position: absolute;
    top: 0;
    right: 140px;
}