.container {
    background-color: #0c6b7c;
    max-width: 800px;
    min-width: 300px;
    min-height: 800px;
    margin: 20px auto;
    /*text-align: center;*/
    font-size: 15px;
    color: whitesmoke;
}

h1  {
    text-align: center;
}

.nav {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    padding: 0 32px 0 0 ;
}

body {
    background-color: #2a2424;
}



