label {
    margin-right: 20px;
}

.form-label {
    margin-top: 10px;
}

form {
    text-align: center;
}

.label-username {
    margin-left: -3px;
}

.label-email {
    margin-left: 38px;
}


button {
    font-size: 18px;
}

input {
    margin-left: 10px;
}

h2, h3 {
    text-align: center;
}

